* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

body {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100%;
    color: $c-default-black;
    font: 14px $font-base;
    font-weight: normal;
    background: $bg-light;
    line-height: 16px;
    margin: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1092px;
    }
}

// THEME DARK

.theme-dark{
    background: $bg-dark;    
    color: $c-white;
}
