// ANIMATION
@mixin base-animation {
    transition: all 0.2s ease;
}

// PLACEHOLDER
@mixin placeholder($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }

    &::-moz-placeholder {
        color: $color;
    }

    &:-ms-input-placeholder {
        color: $color;
    }

    &:-moz-placeholder {
        color: $color;
    }
}


// ICONS
@mixin icon($width,$height,$position) {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('#{$img-folder}icons.svg');
    width: $width;
    height: $height;
    background-position: $position;
}